.loading-progress {position:absolute; position:fixed; z-index:65535; width:100%; height:100%; background:gray; text-shadow:0 1px 1px rgba(255,255,255,.4); color:#333; font:normal normal 11px Verdana, Helvetica, Arial;}
.loading-progress .holder, .loading-progress .message {position:absolute; position:fixed; top:49%; left:25%; width:50%;}
.loading-progress .holder {
 height:8px; 
 border-radius:10px;
 background: rgba(255,255,255,.1);
 box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .2);
}
.loading-progress .progress {
 position:relative;
 width:0%;
 height:100%;
 border-radius:10px;
 background: #6eb2d1;
 background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
 background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
 background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
 background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
 background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
 background-size: 25px 25px;
 box-shadow: inset 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
 -webkit-animation:loading-progress 1s infinite linear;
 -moz-animation:loading-progress 1s infinite linear;
 animation:loading-progress 1s infinite linear;
}
.loading-progress .value {
 position:absolute; position:fixed;
 top:49%;
 left:75%;
 line-height:11px;
 margin:-2px 0 0 6px;
}
.loading-progress .message {
 margin-top:14px;
 text-align:center;
}
@-webkit-keyframes loading-progress {
 0% {background-position:0 25px;}
 100% {background-position:0 0;}
}
@-moz-keyframes loading-progress {
 0% {background-position:0 25px;}
 100% {background-position:0 0;}
}
keyframes loading-progress {
 0% {background-position:0 25px;}
 100% {background-position:0 0;}
}

.spinner.default.dark {color:black;}
.spinner.default.light {color:white;}