/*
 * Special replacements
 *
 * #this      => .{type}-{name}
 * url(./...) => url(...{type}/{name}/...)
 *
 * Example:
 * #this {background: url("./some_image.gif");}
 * .layouts-example {background: url("layouts/example/some_image.gif");}
 */
html, body {margin:0 auto; padding:0; padding:0;}
body * {outline:0; outline-style:none; user-select:none; -webkit-text-size-adjust:none!important; text-size-adjust:none!important; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
input[type="text"], input[type="password"], textarea {user-select:text;}

::-moz-focus-inner {border:0;}

html, body {background-color:gray; color:white; text-shadow:0 -1px 1px black;}